<!DOCTYPE html>
<html>
  <head>
    <!-- Analytics -->
    {{ if not .Site.IsServer }}
      {{ partial "google/analytics" . }}
    {{ end }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ block "title" . }}{{ end }}</title>  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  　<link rel="stylesheet" href="https://unpkg.com/jpncss@latest/dist/bootstrap/jpn.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    {{ "<!-- _default/baseof.html start -->" | safeHTML }}
    
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark mb-3">
      <a class="navbar-brand" href="/">たき∇の雑記帳</a>
      
      <ul class="navbar-nav">
        <li>
          <a class="nav-link" href="{{ relURL "/" }}">トップ</a>
        </li>
        <li>
          <a class="nav-link" href="{{ relURL "/article/" }}">記事</a>
        </li>      
        <li>
          <a class="nav-link" href="{{ relURL "/tags/" }}">タグ</a>
        </li>
    </ul>
    </nav>
  
    

    <hr />
    {{ block "main" . }}{{ end }}
    {{ "<!-- _default/baseof.html end -->" | safeHTML }}
  </body>
</html>