<head>
    <!-- Analytics -->
    {{ if not .Site.IsServer }}
      {{ partial "analytics.html" }}
    {{ end }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ block "title" . }}{{ end }}</title>  
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/jpn.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/footer.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/article.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css">
  </head>