<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="/">たき∇の雑記帳</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" href="{{ relURL "/article/" }}">記事</a>
      </li>      
      <li>
        <a class="nav-link" href="{{ relURL "/tags/" }}">タグ</a>
      </li>
    </ul>
    </div>
  </nav>